
.background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.3)), url("../image/unsplash.jpg");
}
.first_view {
    width: 50%;
    /*margin-left: 25%;*/
    margin : 0 25% 0 25%
}
.class_btn {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    font-size: 50px;
}
.second_view {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.meta_recog_text {
    font-size: 100px;
    width: 100%;
    text-align: center;
}
.hide {
    display: none;
}

@media ( min-width: 1081px ) {
    .background {
        width: 90%;
        height: 90%;
        background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.3)), url("../image/unsplash.jpg");
    }
    .first_view {
        width: 90%;
        margin-left: 100px;
        padding-left: 100px;
    }
    .class_btn {
        width: 20%;
        height: 100%;
        margin: 20px;
        font-size: 70px;
    }
    .second_view {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .meta_recog_text {
        font-size: 200px;
        width: 100%;
        text-align: center;
    }
    .hide {
        display: none;
    }
}