body {
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 75px;
    padding: 0.1rem;
    color: white;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    alignment: right;
    margin-right: 30px;
}

header nav span {
    margin-left: 30px;
}

header .gnb_btn:hover {
    color: coral;
}

.wrap {
    width: 100%;
    height: auto;
    margin: 0;
}

.wrap div {
    width: 100%;
    height: 100%;
}


.home_area {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    text-align: center;
}
.home_area::after {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../image/white_tree.png");
    background-size: cover;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home_area .home_title {
    font-size: 50px;
    font-weight: bolder;
    color: indianred;
}
.home_area .home_line_rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 70px;

}
.home_area .home_describe {
    font-size: 20px;
    font-weight: bolder;
    color: indianred;
}
.home_area .home_more_btn {
    background-color:#bf5e5e;
    border-radius:40px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:21px 31px;
    text-decoration:none;
}